.section {
  background-color: var(--background);
}

.content {
  position: relative;
}

.one {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://media.tiffany.com/is/image/tiffanydm/T-HP-FWMH-1Alt-Desktop?$tile$&wid=2992&fmt=webp);
}

.two {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://media.tiffany.com/is/image/tiffanydm/T-HP-FWMH-1Alt-Desktop?$tile$&wid=2992&fmt=webp);
}

.shop:after {
  content: "";
  position: absolute;
  z-index: 10;
  background-color: aqua;
  height: 2px;
  width: 0;
  left: 150px;
  bottom: 0;
  transition: 0.6s;
}

.shop:hover {
  color: #000000;
  font-weight: 600;
}

.shop:hover:after {
  width: 142px;
}

.shop2:after {
  content: "";
  position: absolute;
  z-index: 10;
  background-color: aqua;
  height: 2px;
  width: 0;
  left: 242px;
  bottom: 0;
  transition: 0.6s;
}

.shop2:hover {
  color: #000000;
  font-weight: 600;
}

.shop2:hover:after {
  width: 142px;
}

.shopn:after {
  content: "";
  position: absolute;
  z-index: 10;
  background-color: aqua;
  height: 2px;
  width: 0;
  left: 638px;
  bottom: 12px;
  transition: 0.6s;
}

.shopn:hover {
  color: #000000;
  font-weight: 600;
}

.shopn:hover:after {
  width: 80px;
}

.shopn2:after {
  content: "";
  position: absolute;
  z-index: 10;
  background-color: aqua;
  height: 2px;
  width: 0;
  left: 842px;
  bottom: 12px;
  transition: 0.6s;
}

.shopn2:hover {
  color: #000000;
  font-weight: 600;
}

.shopn2:hover:after {
  width: 80px;
}

.icon-favorite {
  cursor: pointer;
  background-size: cover;
  width: 20px !important;
  height: 20px !important;
  background-image: url(https://media.tiffany.com/is/content/tiffanydm/Wishlist?$tile$&);
}

.icon-favorite:hover {
  cursor: pointer;
  background-size: cover;
  width: 20px !important;
  height: 20px !important;
  background-image: url(//media.tiffany.com/is/content/tiffanydm/wishlisticon-empty?$tile$&);
}

.card-popular {
  margin: 0 auto;
}

.shop-now:after {
  content: "";
  position: absolute;
  z-index: 10;
  background-color: aqua;
  height: 2px;
  width: 0;
  bottom: 78px;
  transition: 0.6s;
}

.shop-now:hover {
  color: #000000;
}

.shop-now:hover:after {
  width: 90px;
}

.slider-arrow {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.arrow-btn {
  top: 45%;
}
.next {
  float: right;
}
