@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --text: #6f6f6f;
  --bg: #ffffff;
  --primary: #1445b7;
  --active: #3067e7;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  color: var(--text);
}
