@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --text: #6f6f6f;
  --bg: #ffffff;
  --primary: #1445b7;
  --active: #3067e7;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  color: var(--text);
}

.slick-next {
  margin-right: 120px;
}

.slick-next:before {
  content: "";
}

.slick-prev:before,
.slick-next:before {
  content: "";
}

.slick-prev {
  z-index: 1;
}

.headroom {
  z-index: 2 !important;
}
